:root {
    --main : #0f0f0f;
    --main-2 : #292929;
    --accent : #e20000;
    --accent-2 : #ff3b3b;
    --text : rgb(124, 124, 124);
}

@keyframes profileVisible {
    from {
        opacity: 0;
        scale: 0;
    } to {
        opacity: 1;
        scale: 1;
    }
}
@keyframes progressBar {
    from {
        width: 0;
    } to {
        width: var(--target);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes cardShow {
    from {
        opacity: 0;
        transform: translateX(10px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    font-size: 10px;
    color: var(--text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    display: flex;
}

/* NAVIGATION BUTTON */
#nav-section {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    margin: 20px;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    animation: normal "fadeIn" 3s;
}
#navigation {
    width: 50px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px;
}
#nav-section a {
    width: 50px;
    height: 50px;
    background-color: var(--main-2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    outline: 1px solid black;
    margin: 5px;
}
#navigation:hover {
    background-color: var(--accent-2);
    box-shadow: 1px 1px 20px var(--accent);
}
#nav-section a:hover {
    outline: 1px solid var(--accent);
    background-color: #3a3a3a;
    box-shadow: 1px 1px 20px var(--accent);
}
#navigation i, #nav-section a i {
    font-size: 1.5rem;
    color: white;
}
#nav-section a {
    display: none;
}

/* STATUS SECTION */
#status-section {
    width: 20%;
    height: 100%;
    float: left;
    background-color: var(--main-2);
}
#profile {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    box-shadow: inset 0px -16px 5px var(--main-2);
}
#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--main);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    animation: normal "profileVisible" 1s;
}
#profile img:hover {
    scale: 1.1;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}
#myInfo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 2px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
#myInfo .infoLeft {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2px;
    line-height: 20px;
    padding-left: 10px;
}
#myInfo .infoRight {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    line-height: 20px;
}
#skillSet {
    width: 100%;
    height: 60%;
    padding-top: 10px;
}
#skillSet .skill {
    padding: 5px;
}
#skillSet .skill .skillMeter {
    width: 100%;
    height: 8px;
    background-color: var(--main);
    padding: 2px;
    border-radius: 30px;
    margin-block: 5px;
} 
#skillSet .skill .skillMeter div {
    height: 100%;
    background-color: var(--accent);
    border-radius: 30px;
    animation: normal "progressBar" 1s;
    width: var(--target);
    box-shadow: 4px 4px 10px var(--accent);
}

/* SIDER SECTION */
#sider {
    width: 80%;
    height: 100vh;
    overflow-x: scroll;
    scrollbar-width: none;
}

/* BANNER SECTION */
#banner-section {
    width: 100%;
    height: 30vh;
    background-image: url(img/banner.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-shadow: inset 0px -16px 10px var(--main);
    display: flex;
    gap: 30px;
    padding: 30px;
}
#banner-section .counter {
    flex: 0 0 calc(50% - 30px);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4),
                inset -1px -1px 10px white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}
#banner-section .counter:hover {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}
#banner-section .counter h1 {
    font-size: 6rem;
    color: white;
    width: 100%;
    animation: normal "fadeIn" 1s;
}
#banner-section .counter h2 {
    font-size: 2rem;
    color: white;
    width: 100%;
    animation: normal "fadeIn" 2s;
}

/* CONTENT SECTION */
#content-section {
    width: 100%;
    float: right;
    padding: 10px;
}
.showCase {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.showCase .webProducts {
    flex: 0 0 calc(33.33% - 10px);
    background-color: var(--main-2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    animation: normal "cardShow" 1s;
}
.showCase .webProducts:hover, .showCase .musicProducts:hover {
    background-color: #3a3a3a;
}
.showCase .musicProducts {
    flex: 0 0 calc(20% - 10px);
    height: 200px;
    background-color: var(--main-2);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    animation: normal "cardShow" 1s;
}
.showCase .webProducts h2 {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}
.showCase .musicProducts h2 {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 10%;
}
.showCase .webProducts p {
    font-size: 1.5em;
    margin: 10px;
    font-style: italic;
}
.showCase .webProducts a {
    width: 100%;
    font-size: 1.5em;
    text-decoration: underline;
    text-align: center;
}
.showCase .webProducts a:hover {
    color: var(--accent);
    text-shadow: 1px 1px 5px var(--accent);
}
.showCase .musicProducts div {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
.showCase .musicProducts img {
    width: 150px;
    height: 150px;
}
.showCase .musicProducts button {
    width: 100%;
    height: 20% ;
    background-color: var(--main);
    border-radius: 10px;
}
.showCase .musicProducts button:hover {
    box-shadow: 1px 1px 20px var(--accent);
    background-color: var(--accent);
}
.showCase .musicProducts button i {
    color: white;
}