:root {
    --main : #0f0f0f;
    --main-2 : #292929;
    --accent : #e20000;
    --accent-2 : #b60000;
    --text : rgb(124, 124, 124);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    font-size: 10px;
    color: var(--text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    display: flex;
}
#status-section {
    width: 20%;
    height: 100%;
    float: left;
    background-color: var(--main-2);
}
#profile {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    box-shadow: inset 0px -16px 5px var(--main-2);
}
#profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid var(--main);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
#profile img:hover {
    scale: 1.1;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
}
#myInfo {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 2px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}
#myInfo .infoLeft {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2px;
    line-height: 20px;
    padding-left: 10px;
}
#myInfo .infoRight {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    line-height: 20px;
}
#skillSet {
    width: 100%;
    height: 60%;
    padding-top: 10px;
}
#skillSet .skill {
    padding: 5px;
}
#skillSet .skill .skillMeter {
    width: 100%;
    height: 8px;
    background-color: var(--main-2);
    padding: 2px;
    border-radius: 30px;
    margin-block: 5px;
} 
#skillSet .skill .skillMeter div {
    height: 100%;
    background-color: var(--accent);
    border-radius: 30px;
}


#sider {
    width: 80%;
    height: 100%;
}
#banner-section {
    width: 100%;
    height: 30%;
    background-image: url(img/banner.jpeg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    box-shadow: inset 0px -16px 10px var(--main);
}
#content-section {
    width: 100%;
    height: 70%;
    float: right;
}